body {
  margin: 20px;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: #585858;
}

a {
  color: #169CEE;
  text-decoration: underline;
}

a:hover {
  color: #2C3D50;
}

a:visited {
  color: #2a6496;
}

table {
    border-collapse: collapse;
}

table, th, td {
  /*border: 2px solid #2a6496;*/
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5}

input[type=text] {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}

input[type=file] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}

.lightInstruct {
  font-size: 10px;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 3px;
}

/*
  helpers
 */

.align-center {
  text-align: center;
}

.hidden {
  display: none;
}

/*
  app css
 */

.container {
  margin: 0 auto;
  margin-top: 45px;
  max-width: 860px;
}
